In [194]:
# Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [195]:
Test = pd.read_csv("Test_merged.csv")

In [196]:
Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13165 entries, 0 to 13164
Data columns (total 51 columns):
Unnamed: 0               13165 non-null int64
Agreement_ID             13165 non-null int64
Foreclosure              13165 non-null float64
Customer_ID              13165 non-null int64
MOB                      13165 non-null int64
Loan_Amt                 13165 non-null object
NET_DISBURSED_AMT        13165 non-null object
Interest_Start_Date      13165 non-null object
Current_ROI              13165 non-null float64
Original_ROI             13165 non-null float64
Current_Tenure           13165 non-null float64
Original_Tenure          13165 non-null int64
Due_Day                  13165 non-null int64
Authorization_Date       13165 non-null object
City                     13165 non-null object
Pre_EMI_Due_Amt          13165 non-null float64
Pre_EMI_Received_Amt     13165 non-null float64
PRE_EMI_OS_AMOUNT        13165 non-null float64
EMI_Due_Amt              13165 non-null float64
EMI_Received_Amt         13165 non-null float64
EMI_OS_AMOUNT            13165 non-null float64
Excess_Available         13165 non-null float64
Excess_Adjusted_Amt      13165 non-null float64
Balance_Excess           13165 non-null float64
Net_Receivable           13165 non-null float64
Outstanding_Principal    13165 non-null float64
Paid_Principal           13165 non-null float64
Paid_Interest            13165 non-null float64
Month_Opening            13165 non-null float64
Last_Receipt_Date        13120 non-null object
LAST_RECEIPT_AMOUNT      13012 non-null float64
Net_LTV                  13165 non-null float64
Completed_Tenure         13165 non-null int64
Balance_Tenure           13165 non-null float64
DPD                      13164 non-null float64
FOIR                     13165 non-null float64
Product                  13165 non-null object
Scheme_ID                13164 non-null float64
NPA_In_Last_Month        74 non-null object
NPA_In_Current_Month     75 non-null object
Cust_Const_Type_ID       4008 non-null float64
Cust_Category_ID         4008 non-null float64
Age                      3858 non-null float64
Gender                   3859 non-null object
Marital_Status           3858 non-null object
Qualification            3854 non-null object
No_Of_Dependent          3972 non-null float64
Gross_Income             4008 non-null float64
Pre_Job_Years            968 non-null float64
Net_Take_Home_Income     4008 non-null float64
Branch_Pincode           3978 non-null float64
dtypes: float64(32), int64(7), object(12)
memory usage: 5.1+ MB

In [197]:
from sklearn import preprocessing


# encode categorical variables using Label Encoder

# select all categorical variables
df_categorical = Test.select_dtypes(include=['object'])
df_categorical.head()

,Loan_Amt,NET_DISBURSED_AMT,Interest_Start_Date,Authorization_Date,City,Last_Receipt_Date,Product,NPA_In_Last_Month,NPA_In_Current_Month,Gender,Marital_Status,Qualification
0,"40,53,498.66","40,53,498.66",06-Sep-10,06-Sep-10,MUMBAI,05-Dec-17,HL,NaN,NaN,M,M,GRAD
1,"1,32,57,031.92","1,32,57,031.92",29-Sep-10,29-Sep-10,MUMBAI,05-Nov-13,HL,NaN,NaN,M,M,GRAD
2,"1,32,11,403.04","1,32,11,403.04",06-Sep-10,06-Sep-10,MUMBAI,05-Jul-14,HL,NaN,NaN,M,M,GRAD
3,"61,55,312.78","61,55,312.78",11-Oct-10,11-Oct-10,MUMBAI,05-Aug-14,HL,NaN,NaN,M,M,UG
4,"94,99,284.03","94,99,284.03",10-Nov-10,05-Nov-10,MUMBAI,11-Jun-14,LAP,NaN,NaN,M,M,GRAD

In [198]:
TestX_merged = pd.read_csv("TestX_merged.csv")

In [199]:
df_categorical = df_categorical[['City','Product','Gender','Marital_Status','Qualification']]

In [200]:
df_categorical.Gender = df_categorical.Gender.astype('str')

In [201]:
df_categorical.Marital_Status = df_categorical.Marital_Status.astype('str')

In [202]:
df_categorical.Qualification = df_categorical.Qualification.astype('str')

In [203]:
# apply Label encoder to df_categorical

le = preprocessing.LabelEncoder()
df_categorical = df_categorical.apply(le.fit_transform)
df_categorical.head()

   City  Product  Gender  Marital_Status  Qualification
0   134        0       1               0              2
1   134        0       1               0              2
2   134        0       1               0              2
3   134        0       1               0              7
4   134        1       1               0              2

In [204]:
Test_data = pd.concat([TestX_merged, df_categorical],axis = 1)

In [205]:
Test_data = Test_data.iloc[:,1:]

In [206]:
Test_Amt_DF = Test.loc[:,['Pre_EMI_Due_Amt','Pre_EMI_Received_Amt','PRE_EMI_OS_AMOUNT','EMI_Due_Amt',
                          'EMI_Received_Amt' ,'EMI_OS_AMOUNT','Excess_Available',
                            'Excess_Adjusted_Amt','Balance_Excess','Net_Receivable','Outstanding_Principal'
                            ,'Paid_Principal','Paid_Interest','Month_Opening']]

In [207]:
Test_Amt_DF = round(Test_Amt_DF/100000,0)

In [208]:
Test_data = pd.concat([Test_data,Test_Amt_DF],axis = 1)

In [209]:
Test_Numeric = Test.loc[:,['DPD','FOIR','No_Of_Dependent'
                            ,'Pre_Job_Years']]

In [210]:
Test_data = pd.concat([Test_data,Test_Numeric],axis = 1)

In [211]:
Test_data.head(100)

,Net_Disbursed_Amt,ROI_Change_Ratio,Tenure_Ratio,Tenure_Change_Ratio,Foreclosure,Net_LTV,City,Product,Gender,Marital_Status,...,Balance_Excess,Net_Receivable,Outstanding_Principal,Paid_Principal,Paid_Interest,Month_Opening,DPD,FOIR,No_Of_Dependent,Pre_Job_Years
0,40.53,-0.32,0.28,-0.73,0.086017,79.34,134,0,1,0,...,0.0,-0.0,38.0,2.0,37.0,38.0,0.0,0.9100,0.0,NaN
1,132.57,-0.43,0.19,-0.10,0.062022,86.86,134,0,1,0,...,0.0,0.0,103.0,30.0,42.0,126.0,0.0,0.9686,0.0,NaN
2,132.11,-0.39,0.32,0.21,0.122249,40.93,134,0,1,0,...,0.0,0.0,81.0,51.0,45.0,114.0,0.0,0.7300,0.0,NaN
3,61.55,-0.32,0.14,-0.46,0.077855,45.32,134,0,1,0,...,0.0,0.0,59.0,3.0,27.0,59.0,0.0,1.2300,0.0,NaN
4,94.99,-0.39,0.79,0.71,0.371909,52.34,134,1,1,0,...,0.0,0.0,9.0,86.0,45.0,91.0,0.0,0.6100,0.0,NaN
5,54.01,-0.21,0.27,-0.19,0.241502,84.15,193,0,1,0,...,0.0,1.0,50.0,4.0,34.0,50.0,0.0,0.6000,0.0,1.0
6,43.09,-0.34,0.14,-0.69,0.058800,70.65,134,1,1,0,...,0.0,1.0,41.0,2.0,19.0,41.0,0.0,0.6000,0.0,8.0
7,76.89,-0.39,1.00,0.67,0.462677,34.78,134,0,1,0,...,0.0,-0.0,0.0,77.0,24.0,54.0,0.0,0.9500,0.0,NaN
8,172.52,-0.26,0.27,-0.30,0.158624,22.22,134,0,1,0,...,0.0,3.0,150.0,23.0,77.0,150.0,0.0,0.6000,0.0,14.0
9,113.75,0.05,0.75,-0.07,0.846144,54.29,134,1,1,0,...,0.0,-0.0,43.0,71.0,97.0,61.0,0.0,0.9000,0.0,NaN
10,34.19,-0.26,0.18,-0.06,0.174128,87.58,134,0,1,1,...,0.0,0.0,33.0,1.0,17.0,33.0,0.0,0.6000,0.0,0.0
11,40.94,-0.26,0.54,0.36,0.382448,54.87,134,0,1,1,...,0.0,0.0,29.0,12.0,32.0,29.0,0.0,0.4900,0.0,0.0
12,76.57,-0.26,0.16,0.04,0.181173,84.58,134,0,1,1,...,0.0,1.0,73.0,3.0,30.0,73.0,0.0,0.6000,0.0,NaN
13,148.42,-0.61,0.57,0.00,0.041022,27.26,134,0,1,0,...,0.0,0.0,73.0,76.0,34.0,73.0,0.0,0.8500,0.0,NaN
14,96.25,-0.28,0.17,0.26,0.185390,51.70,134,0,2,2,...,0.0,0.0,89.0,7.0,32.0,91.0,0.0,0.8900,NaN,NaN
15,36.83,-0.26,0.22,-0.30,0.147762,47.54,134,0,1,1,...,51.0,-51.0,34.0,2.0,22.0,34.0,0.0,0.6000,0.0,NaN
16,70.72,-0.21,0.60,0.13,0.436770,29.44,134,0,1,0,...,0.0,-0.0,33.0,37.0,46.0,50.0,0.0,0.8600,0.0,NaN
17,94.58,-0.15,0.41,-0.37,0.350152,69.77,193,0,1,0,...,0.0,0.0,79.0,16.0,81.0,79.0,0.0,0.5300,0.0,NaN
18,675.58,-0.23,1.00,0.35,0.689620,64.29,134,1,2,2,...,0.0,-0.0,0.0,676.0,297.0,338.0,0.0,0.6900,NaN,NaN
19,60.05,-0.28,0.79,0.48,0.498681,39.51,147,1,0,0,...,0.0,0.0,10.0,50.0,24.0,42.0,0.0,0.9000,0.0,NaN
20,39.78,-0.38,0.62,-0.25,0.156211,45.50,193,0,1,0,...,0.0,0.0,21.0,18.0,29.0,21.0,0.0,0.5900,0.0,19.0
21,62.40,-0.05,0.22,0.26,0.559806,83.05,134,0,2,2,...,0.0,0.0,61.0,1.0,30.0,61.0,0.0,0.6000,NaN,NaN
22,90.35,-0.24,0.38,-0.24,0.234244,67.25,134,1,1,0,...,0.0,-0.0,70.0,20.0,53.0,70.0,0.0,0.7300,0.0,NaN
23,171.74,-0.24,0.21,-0.24,0.172715,45.40,134,1,2,2,...,0.0,-0.0,152.0,20.0,58.0,152.0,0.0,0.7600,0.0,NaN
24,52.22,-0.08,0.36,-0.08,0.501220,69.85,193,0,1,0,...,0.0,0.0,46.0,7.0,41.0,46.0,0.0,0.6000,0.0,7.0
25,61.14,-0.02,0.88,0.32,0.862988,54.74,134,1,1,1,...,0.0,0.0,8.0,54.0,35.0,35.0,0.0,0.8300,0.0,NaN
26,18.70,-0.23,0.16,-0.61,0.123648,43.93,193,1,1,0,...,0.0,0.0,18.0,1.0,10.0,18.0,0.0,0.8200,2.0,NaN
27,537.46,0.01,0.29,-0.38,0.566614,63.24,134,0,0,0,...,0.0,0.0,397.0,140.0,318.0,472.0,0.0,0.9000,0.0,NaN
28,136.88,-0.23,0.18,-0.07,0.197799,54.78,193,1,2,2,...,0.0,-0.0,116.0,21.0,54.0,134.0,0.0,0.8200,NaN,NaN
29,547.97,-0.24,0.97,-0.06,0.571327,66.78,134,1,2,2,...,0.0,0.0,1.0,547.0,125.0,1.0,0.0,0.7000,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,165.14,-0.08,0.26,0.33,0.536899,53.06,134,1,1,0,...,0.0,0.0,113.0,52.0,52.0,154.0,0.0,0.8500,2.0,NaN
71,90.08,0.00,0.70,0.48,0.853204,64.10,134,1,1,0,...,0.0,0.0,22.0,68.0,29.0,62.0,0.0,0.7500,1.0,NaN
72,38.45,-0.03,0.76,0.36,0.818163,26.30,134,1,2,2,...,0.0,0.0,11.0,28.0,23.0,21.0,0.0,0.4900,NaN,NaN
73,70.34,-0.05,0.24,-0.07,0.473720,25.85,134,0,2,2,...,0.0,1.0,63.0,8.0,27.0,63.0,0.0,0.6000,NaN,NaN
74,102.09,-0.25,0.29,-0.69,0.133685,50.18,134,1,2,2,...,2.0,-2.0,91.0,12.0,98.0,91.0,0.0,0.7300,NaN,NaN
75,350.03,-0.10,0.09,-0.06,0.339488,52.44,134,1,2,2,...,0.0,0.0,342.0,8.0,99.0,342.0,0.0,1.0900,NaN,NaN
76,38.77,0.09,0.71,0.52,0.915177,37.98,46,1,2,2,...,0.0,0.0,9.0,30.0,14.0,26.0,0.0,0.9700,NaN,NaN
77,121.60,-0.10,0.28,-0.07,0.430182,69.41,134,0,2,2,...,0.0,-0.0,107.0,14.0,82.0,107.0,0.0,0.6000,NaN,NaN
78,499.59,-0.06,0.97,0.69,0.898826,73.26,134,1,1,0,...,0.0,0.0,1.0,421.0,62.0,345.0,0.0,0.7200,0.0,NaN
79,150.13,-0.09,0.20,-0.13,0.384759,46.05,134,0,2,2,...,0.0,-0.0,137.0,13.0,58.0,137.0,0.0,0.5200,NaN,NaN
80,350.36,-0.02,0.17,0.25,0.586223,67.14,134,0,1,0,...,0.0,0.0,291.0,59.0,89.0,329.0,0.0,0.8300,1.0,NaN
81,33.70,0.10,0.54,-0.03,0.832910,42.20,166,0,1,0,...,0.0,-0.0,22.0,12.0,23.0,22.0,0.0,0.9921,1.0,NaN
82,52.29,0.07,0.29,0.04,0.731766,79.90,166,0,1,1,...,0.0,0.0,45.0,7.0,23.0,45.0,0.0,0.5300,0.0,4.0
83,162.43,-0.10,0.15,-0.28,0.322789,65.92,134,0,0,1,...,0.0,0.0,155.0,7.0,68.0,155.0,0.0,0.9800,2.0,NaN
84,40.94,-0.25,0.91,0.00,0.502025,30.90,17,1,2,2,...,0.0,-0.0,1.0,40.0,26.0,18.0,0.0,0.4600,NaN,NaN
85,180.16,-0.14,0.48,-0.05,0.464735,48.28,166,1,2,2,...,0.0,54.0,132.0,48.0,40.0,132.0,269.0,1.0000,NaN,NaN
86,120.10,-0.14,0.48,-0.05,0.455800,32.30,166,1,2,2,...,0.0,36.0,88.0,32.0,26.0,88.0,269.0,1.0000,NaN,NaN
87,54.80,0.07,0.46,-0.03,0.765061,8.72,134,0,1,0,...,0.0,0.0,33.0,21.0,32.0,41.0,0.0,0.0000,0.0,NaN
88,187.66,-0.14,0.16,-0.25,0.276282,65.40,134,0,1,0,...,0.0,-0.0,181.0,6.0,88.0,181.0,0.0,0.7000,2.0,NaN
89,33.03,-0.14,0.11,-0.42,0.225196,69.84,166,1,2,2,...,0.0,0.0,32.0,1.0,10.0,32.0,0.0,0.6742,NaN,NaN
90,45.80,-0.14,0.19,-0.25,0.290023,81.14,17,0,1,1,...,0.0,-0.0,42.0,3.0,18.0,42.0,0.0,0.6700,0.0,NaN
91,104.85,-0.09,0.26,-0.06,0.414818,12.43,134,0,1,0,...,0.0,0.0,88.0,17.0,31.0,88.0,0.0,0.7900,0.0,NaN
92,3.62,0.08,0.45,-0.08,0.763146,5.46,147,0,2,2,...,0.0,0.0,3.0,1.0,3.0,3.0,0.0,0.4600,NaN,NaN
93,77.84,-0.15,0.17,-0.38,0.231881,32.39,193,1,2,2,...,0.0,0.0,74.0,4.0,37.0,74.0,0.0,1.0200,NaN,NaN
94,94.58,-0.12,0.55,0.65,0.690772,79.64,166,0,1,0,...,0.0,-0.0,38.0,57.0,39.0,76.0,0.0,0.5900,0.0,15.0
95,38.17,-0.15,0.19,-0.24,0.277497,80.44,17,0,1,0,...,0.0,0.0,35.0,3.0,15.0,35.0,0.0,0.4400,0.0,0.0
96,354.31,0.06,0.56,-0.02,0.813912,67.11,46,1,2,2,...,0.0,0.0,214.0,140.0,216.0,214.0,0.0,0.9600,NaN,NaN
97,15.01,-0.08,0.13,-0.15,0.349083,24.58,61,1,2,2,...,0.0,0.0,14.0,1.0,4.0,14.0,0.0,0.6000,NaN,NaN
98,21.69,-0.10,0.70,0.66,0.778027,80.00,17,0,1,0,...,0.0,-0.0,4.0,18.0,9.0,20.0,0.0,0.5500,2.0,0.0
99,21.70,-0.10,0.07,-0.11,0.305587,41.53,166,0,1,0,...,0.0,0.0,21.0,0.0,5.0,21.0,0.0,0.6300,0.0,NaN

In [212]:
Test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13165 entries, 0 to 13164
Data columns (total 29 columns):
Net_Disbursed_Amt        13165 non-null float64
ROI_Change_Ratio         13165 non-null float64
Tenure_Ratio             13165 non-null float64
Tenure_Change_Ratio      13165 non-null float64
Foreclosure              13165 non-null float64
Net_LTV                  13165 non-null float64
City                     13165 non-null int32
Product                  13165 non-null int32
Gender                   13165 non-null int32
Marital_Status           13165 non-null int32
Qualification            13165 non-null int32
Pre_EMI_Due_Amt          13165 non-null float64
Pre_EMI_Received_Amt     13165 non-null float64
PRE_EMI_OS_AMOUNT        13165 non-null float64
EMI_Due_Amt              13165 non-null float64
EMI_Received_Amt         13165 non-null float64
EMI_OS_AMOUNT            13165 non-null float64
Excess_Available         13165 non-null float64
Excess_Adjusted_Amt      13165 non-null float64
Balance_Excess           13165 non-null float64
Net_Receivable           13165 non-null float64
Outstanding_Principal    13165 non-null float64
Paid_Principal           13165 non-null float64
Paid_Interest            13165 non-null float64
Month_Opening            13165 non-null float64
DPD                      13164 non-null float64
FOIR                     13165 non-null float64
No_Of_Dependent          3972 non-null float64
Pre_Job_Years            968 non-null float64
dtypes: float64(24), int32(5)
memory usage: 2.7 MB

In [213]:
Test_data[['DPD','No_Of_Dependent','Pre_Job_Years']].describe()

                DPD  No_Of_Dependent  Pre_Job_Years
count  13164.000000      3972.000000     968.000000
mean       9.746961         0.514099       4.477273
std       81.118386         1.088875       5.970238
min        0.000000         0.000000       0.000000
25%        0.000000         0.000000       0.000000
50%        0.000000         0.000000       2.000000
75%        0.000000         0.000000       7.000000
max     2268.000000        10.000000      42.000000

In [214]:
Test_data['No_Of_Dependent'] = Test_data['No_Of_Dependent'].fillna(-1)

In [215]:
Test_data['Pre_Job_Years'] = Test_data['Pre_Job_Years'].fillna(-1)

In [216]:
Test_data['DPD'] = Test_data['DPD'].fillna(-1)

In [217]:
import pickle
filename = 'edelweiss_decision_tree_model.sav'
loaded_model = pickle.load(open(filename, 'rb'))
y_pred = loaded_model.predict_proba(Test_data[['Net_Disbursed_Amt','ROI_Change_Ratio','Tenure_Ratio',
'Tenure_Change_Ratio','Net_LTV','City','Product','Gender','Marital_Status','Qualification',
'Pre_EMI_Due_Amt','Pre_EMI_Received_Amt','PRE_EMI_OS_AMOUNT','EMI_Due_Amt',
                          'EMI_Received_Amt' ,'EMI_OS_AMOUNT','Excess_Available',
                            'Excess_Adjusted_Amt','Balance_Excess','Net_Receivable','Outstanding_Principal'
                            ,'Paid_Principal','Paid_Interest','Month_Opening'
,'DPD','FOIR','No_Of_Dependent'
                            ,'Pre_Job_Years']])

In [219]:
# Converting y_pred to a dataframe which is an array
y_pred_df = pd.DataFrame(y_pred)
# Converting to column dataframe
y_pred_1 = y_pred_df.iloc[:,[1]]
# Let's see the head
#y_pred_1.describe()
# Converting y_test to dataframe
y_test_df = pd.DataFrame(Test['Agreement_ID'])
# Removing index for both dataframes to append them side by side 
y_pred_1.reset_index(drop=True, inplace=True)
y_test_df.reset_index(drop=True, inplace=True)
# Appending y_test_df and y_pred_1
y_pred_final = pd.concat([y_test_df,y_pred_1],axis=1)
# Renaming the column 
y_pred_final= y_pred_final.rename(columns={ 1 : 'Foreclosure_Prob'})
# Rearranging the columns
y_pred_final = y_pred_final.reindex_axis(['Agreement_ID','Foreclosure','Foreclosure_Prob'], axis=1)
# Creating new column 'predicted' with 1 if Churn_Prob>0.5 else 0
y_pred_final['predicted'] = y_pred_final.Foreclosure_Prob.map( lambda x: 1 if x > 0.5 else 0)
y_pred_final = y_pred_final[['Agreement_ID', 'Foreclosure_Prob']]
# Let's see the head of y_pred_final
y_pred_final.head(20)
#y_pred_final.info()
y_pred_final = y_pred_final.rename(columns={"Agreement_ID":"AGREEMENTID"})
test_final = pd.read_csv("test_foreclosure.csv")
#test_final.info()
test = pd.merge(test_final, y_pred_final, how='left', on='AGREEMENTID')
test['FORECLOSURE'] =test['Foreclosure_Prob']
test = test.drop('Foreclosure_Prob',axis = 1)
test.to_csv('decision_tree_prediction.csv')